<!DOCTYPE html>
<html>
  <head>
    <title>Site</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- Latest compiled and minified CSS -->
      <link href="https://fonts.googleapis.com/css?family=Allura" rel="stylesheet">

<script src="https://unpkg.com/react@15/dist/react-with-addons.js"></script>
<script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
  </head>

  <body class="rgba-secondary-2-1-bg" id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
      <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span> Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top" style="font-family: 'Allura', cursive">KatieMarie Photography</a>
                <a class="page-scroll" href="#about"><button id="specials_button" type="button" class="btn btn-warning">*Advertise specials here! </button></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#myCarousel">Home</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#gallery">Gallery</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">About</a>
                    </li>
                    <li>
                      <a class="page-scroll" href="#contact">Contact</a>
                    </li>
                    <% if current_user %>
                    <li>
                      <a class="page-scroll" href="/appointments"><i class="fa fa-calendar" aria-hidden="true"> </i> My Appointments</a>
                    </li>
                    <li>
                      <p class="navbar-text"><%= current_user.name %></p>
                    </li>
                    <li>
                      <%= link_to "Sign out", signout_path, id: "sign_out" %>
                    </li>
                    <% else %>
                    <li>
                      <a class="btn btn-block btn-social btn-facebook" href="/auth/facebook">
                        <span class="fa fa-facebook"></span> Sign in with Facebook
                      </a>
                    </li>
                    <% end %>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <%= yield %>
  </body>
</html>
